<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="MessagesAppender" class="ch.qos.logback.core.FileAppender">
        <file>7ate9-messages.log</file>
        <append>false</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ErrorsAppender" class="ch.qos.logback.core.FileAppender">
        <file>7ate9-errors.log</file>
        <append>false</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="com.yatty.sevennine" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.yatty.sevennine.backend.handlers.codecs" level="debug" additivity="false">
        <appender-ref ref="MessagesAppender" />
    </logger>

    <logger name="com.yatty.sevennine.backend.handlers.ExceptionHandler" level="error" additivity="false">
        <appender-ref ref="ErrorsAppender" />
    </logger>
</configuration>